<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All API endpoints</title>
</head>
<body>
    <h1>API Endpoints</h1>
    <p>Swagger: <a href="/swagger/schema/">swagger/schema/</a></p>
    <p>All Todo items: <a href="/api/todo-items/">/api/todo-items/</a></p>
    <p>Categories <a href="/api/categories/">/api/categories/</a></p>


    <p>Single Todo item: </p>
    <ul>
        {% for item in todo_items %}
            <li><a href="/api/todo-items/{{ item.id }}">/api/todo-items/{{ item.id }}</a></li>
        {% endfor %}
    </ul>


</body>
</html>